.container {
    position: absolute;
    top: 10vh;
    left: 20vw;
    max-width: 560px;

    border: 1px solid #ccc;
    border-radius: 6px;
}

.header {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;

    border-bottom: 1px solid #ccc;
}

.header h3 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
}

.buttonSocial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 2rem;
}